.card {
  padding: 1rem;
  border: 1px solid var(--primary-dark);
  max-width: 31%;

  & .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;

    & .card-footer {
      margin-top: auto;
      width: 100%;
    }

    & .card-footer a {
      width: 100%;
    }
  }

  & .card-wrapper h3 {
    color: var(--primary-dark);
  }

  & .card-wrapper p {
    color: rgb(97, 95, 95);
  }
}
